// make sure to add variables for project when deploying 
// https://dash.deno.com/projects/e91students/settings
// https://dash.deno.com/projects/dev-e91students/settings
GROUPME_BOT_ID=
GROUPME_GROUP_URL=https://groupme.com/join_group/...
