@import "tailwindcss";

html {
  background-color: #1d293d;
  margin: 0;
  height: 100dvh;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: auto;
}

@layer base {}

@theme {
  --color-fresh-400: #86efac;
}

@layer components {
  .absoluteButton {}
}

.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}

.quoteGradient {
  background: linear-gradient(90deg, #ff6e5f, #ffc47b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.quoteGradient span {
  /* lighter color to highlight the person's name */
  background: linear-gradient(90deg, #ff9f8f, #ffdf9f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.spinner_group {
  transform-origin: center;
  animation: spinner_group_anim 2s linear infinite;
}

.spinner_group circle {
  animation: spinner_circle_anim 3s ease-in-out infinite;
}

@keyframes spinner_group_anim {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner_circle_anim {
  0%, 10% {
    stroke-dasharray: 4 5 4 5 4 5 4 69;
  }

  47.5%, 70% {
    stroke-dasharray: 19 6;
    stroke-dashoffset: -20;
  }

  95%, 100% {
    stroke-dasharray: 4 5 4 5 4 5 4 69;
    stroke-dashoffset: -100; /* carries us exactly one full circumference forward */
  }
}
