@import "tailwindcss";
.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}

@layer base {}

@theme {
  --color-fresh-400: #86efac;
}

@layer components {
  .absoluteButton {
    @apply absolute rounded-lg p-3 bg-slate-700/50 text-2xl font-light
      text-slate-400;
  }
}

.quoteGradient {
  background: linear-gradient(90deg, #ff6e5f, #ffc47b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.quoteGradient span {
  /* lighter color to highlight the person's name */
  background: linear-gradient(90deg, #ff9f8f, #ffdf9f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@keyframes spinner_y6GP {
  100% {
    transform: rotate(360deg);
  }
}
