@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #10172a;
  --color-fresh: #86efac;
}

@theme {
  --tw-breakpoint-mobile: 425px;
  --color-fresh: #86efac;
}

@layer utilities {
  .card {
    @apply m-10 rounded-lg bg-white
  }
}
