@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color-fresh: #86efac;
}

@layer base {
}

@theme {
  --color-fresh-400: #86efac;
}

@layer components {
  .loginOutButton {
    @apply absolute right-4 top-2 text-2xl font-light rounded-lg p-3
  }
}

.quoteGradient {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.quoteGradient span {
  background: linear-gradient(90deg, #ff9f8f, #ffdf9f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
